:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(45deg, #ffffff, #ffe0e0, #ffffff, #d3f4ff, #ffffff);
  background-size: 400% 400%; /* Increase the size to cover the animation */
  animation: gradientAnimation 20s infinite linear; /* Adjust the duration as needed */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
